body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  align-items: center;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #479efb;
  padding: 15px 20px;
  color: white;
  

}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  color: darkblue;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 600px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  color: #004c9e;
  transition: 0.3s;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logout {
  background: rgb(2, 44, 158);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  width: 10%;
  font-weight: bold;
}

.logout:hover {
  background:  #024ce0;
}

.container {
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  
}

h1 {
  margin-bottom: 50px;
  margin-top: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  margin-left: 25%;
  
}

.option-button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.option-button:hover {
  background-color: #0056b3;
}